body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #ff5edf 0%, #04c8de 100%);
  /* background-image: url('./gradient.jpg'); */
}

button {
  cursor: pointer;
}
